<p>ainda não está cadastrado?</p>
<p>cadastre-se ou faça seu login</p>

<a href="/login"><button class="btn btn-primary">------Login------</button></a>
<a href="/cadastro"><button class="btn btn-primary">------cadastro------</button></a>
